/* #781C68, #319DA0 #FFD39A, #FFF5El */

.container{
    padding: 100px;
    border: 10px solid #781C68;
    display: grid;
}

.pic{
    width: 500px;
}
.commentbox{
    border: 3px solid #319DA0;
    margin: 10px;
}
.daterow{
    display: inline;
}
.count{
    right: 0;
}
/* .subcommentbox{
    border: 3px solid #FFD39A;
    margin: 10px;
} */
#newComment{
    border: 3px solid #FFD39A;
    margin: 10px;
    height: 50px;
    width: 550px;
}
#add_comment{
    
}
